.img {
  height: auto;
  margin: 0 auto;
	max-width: 90%;
	box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    border-radius: 4px;
    background-color: transparent;
}

.imgBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}